<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Adicionar Estudante</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form [formGroup]="estudanteForm" (ngSubmit)="submitEstudanteForm()" #resetEstudanteForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nome do Estudante" formControlName="estudante_name">
          <mat-error *ngIf="handleError('estudante_name', 'required')">
            Você deve fornecer um <strong>nome do estudante</strong>
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Estudante email" formControlName="estudante_email">
          <mat-error *ngIf="handleError('estudante_email', 'required')">
            Você deve fornecer um <strong>estudante email</strong>
          </mat-error>
        </mat-form-field>

        <!-- bloco -->
        <mat-form-field>
          <mat-label>Bloco</mat-label>
          <mat-select [(value)]="selected" formControlName="bloco">
            <mat-option [value]="sectioinArray" *ngFor="let sectioinArray of SectioinArray">{{sectioinArray}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('bloco', 'required')">
            Bloco é requerido
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Right block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Adicionar assuntos -->
        <mat-form-field class="multiple-items">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let sugestaoArray of sugestaoArray" [selectable]="selectable" [removable]="removable"
              (removed)="remove(sugestaoArray)">
              {{sugestaoArray.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Adicionar assuntos" [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <i class="material-icons tooltip-info" matTooltip="Digite o nome do assunto e pressione Enter para adicionar assuntos">
            info
          </i>
        </mat-form-field>

        <!-- Aniversário -->
        <mat-form-field>
          <input matInput readonly [matDatepicker]="picker" placeholder="Aniversário" formControlName="aniversario"
            (dateChange)="formatDate($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="handleError('aniversario', 'required')">
            Aniversário é obrigatório
          </mat-error>
        </mat-form-field>

        <!-- Sexo  -->
        <div class="misc-bottom-padding">
          <mat-label>Sexo :</mat-label>
          <mat-radio-group aria-label="Select an option" formControlName="genero">
            <mat-radio-button value="Masculino">Masculino</mat-radio-button>
            <mat-radio-button value="Feminino">Feminíno</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Submit</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>
